.kaufman {
  background-color: #1f1f1f;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  color: white;
  z-index: -1;
  overflow: hidden; /* для скрытия вылезшего участка треугольника */
}
