/* div {
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
} */

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.header__title {
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bolder;
  z-index: 2;
  width: 730px;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  color: #10191E;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link::after {
  /* спецсимвол стрелки */
  content: " \2192";
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.header__square-pic {
  position: absolute;
  right: 0px;
  top: 64px;
  z-index: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
}

.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  min-width: 784px;
  width: 80%;
}

.two-columns__span-accent{
  /* высоты шрифта и строки наследуются */
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
}

.digits {
  margin-top: 100px;
}

.section-title{
  margin: 0px auto 20px auto;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: 0px auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0px auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;  /* ячейки таблицы будут растягиваться
  поперечно ориентируясь на большую */
}

.table__cell {
  margin-top: 60px; /* во флексе не рекомендуют выставлять отступы,
  но я не нашел решения лучше */
  width: 250px;
  height: auto;
}

.table__heading {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
}

.table__text {
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__footer {
  margin-bottom: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-color: #f2f2f2;
  position: relative;
  margin-top: 100px;
  padding-top: 100px;
  height: 790px;
  z-index: -1;
}

.feynman__title {
  margin: auto;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  text-align: center;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link::after {
  content: " \2192";
}

.feynman_img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  color: white;
  z-index: -1;
  overflow: hidden; /* для скрытия вылезшего участка треугольника */
}

.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: -1;
  width: 877px;
  height: 877px;
  overflow: hidden;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}
