.khan__book-pic {
  height: 620px;
  width: 500px; /* мне показалось, что размеры, которые предлагает бриф,
  слегка искажают обложку книги (растягивают горизонтально)
  поэтому я уменьшил ширину этого элемента */
  margin-right: 48px;
}
